/* Base layout */
.email-site {
  display: flex;
  font-family: Arial, sans-serif;
  height: 100%;
}

/* email-sidebar */
.email-sidebar {
  width: 10rem;
  background: #f9fafe;
  padding: 1rem;
  height: 100%;
}

.email-write {
  padding: 1rem;
  padding-right: 2rem;
  background-color: #c4e6ff;
  border-radius: 1rem;
  width: auto;
  display: flex;
  font-size: 16px;
  margin-bottom: 1rem;
}

.email-write ion-icon {
  transform: scale(1.1);
  margin-right: 1rem;
}

.email-sidebar-item {
  margin-bottom: 1rem;
  cursor: pointer;
  font-weight: 500;
  color: #333;
}

.email-sidebar-item.active {
  color: #1976d2;
}

/* Email list */
.email-container {
  flex: 1;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

.email-item {
  background-color: rgb(242, 245, 252);
  padding: 0.5rem;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  position: relative;
  font-size: 16px;
}

.email-item p {
  padding: 0;
  margin: 0;
  color: #6f7072;
}

.unread-email {
  background-color: white;
}

.email-summary {
  margin-left: 1rem;
}

.unread-email .summary-person {
  color: black;
  font-weight: 600;
}
.email-item.unread {
}

.unread-dot {
  color: #1976d2;
  font-size: 1rem;
  position: absolute;
  right: 10px;
  top: 1rem;
}
