.email-view {
  flex: 2;
  padding:  0 1rem 0 1rem;
  overflow-y: auto;
  position: relative;
}

.placeholder {
  color: #777;
  font-style: italic;
}

.thread-info {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(202, 202, 202);
}

.email-btn {
  position: sticky;
  top: 0;
  background-color: #fff; /* match background to avoid overlap */
  z-index: 10; /* ensure it stays on top */
  padding:  10px 0px 010px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.email-view button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #c4e6ff;
}
.email-view button:hover {
  background-color: #bbd4ff;
}

