.chat-view-header {
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid rgb(119, 122, 150);
    padding: 20px 0px 15px 10px;
}

.chat-view .chat-messages {
  height: 300px;
  overflow-y: auto;
  background: #f9f9f9;
  margin-bottom: 10px;
}

.chat-input {
  display: flex;
  padding: 15px;
  background-color: #ffffff;
  border-top: 1px solid #ccc;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.chat-input button {
  padding: 10px 15px;
  background-color: #6264a7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.chat-msg {
    padding: 16px;
}

.other-sent {
    background-color: #dcdcef;
}

.chat-msg-sender {
    font-weight: 550;
}

.chat-msg-content {
    margin-left: 1rem;
}