.toolbar {
    height: 100%;
    width: 3rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.75);
    justify-content: space-between;
    padding-top: 1rem;
}

.toolbar-icon {
    height: 3rem;
    display: flex;
    justify-content: center;
    margin-bottom: 0.25rem;
    display: flex;
    align-items: center;
    color: white;
    font-size:xx-large;
    transition: 0.5s;
}

.toolbar-icon:hover {
    cursor: pointer;
    transform: scale(1.25);
}

/* Notifications */
.toolbar-icon {
  position: relative;
}

.toolbar-icon.notification::after {
  content: "";
  position: absolute;
  top: 4px;
  right: 4px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.25); }
  100% { transform: scale(1); }
}