.desktop-view {
  height: 100%;
  overflow-y: hidden;
  background: #052a69;
  background: linear-gradient(
    314deg,
    rgba(5, 42, 105, 1) 0%,
    rgba(103, 86, 199, 1) 62%,
    rgba(219, 83, 237, 1) 100%
  );
}
